:root {
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #fff;
  --color-red: #ea5454;
  --color-cyan: #44d3d2;
  --color-blue: #549ef2;
  --color-orange: #fcae4a;
  --text-preset-1: 600 2.25rem/140% "Poppins", sans-serif;
  --text-preset-2: 275 2.25rem/140% "Poppins", sans-serif;
  --text-preset-3: 600 1.25rem/135% "Poppins", sans-serif;
  --text-preset-4: 400 0.9375rem/140% "Poppins", sans-serif;
  --text-preset-5: 400 0.8125rem/140% "Poppins", sans-serif;
  --spacing-1600: 5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
